@using System.Security.Principal

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="navbar-text text-white">
                <i class="fas fa-user-tie"></i>
                Hello @User.Identity.Name!
            </span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">
                <i class="fas fa-sign-out-alt"></i>
                Sign out
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">
                <i class="fas fa-sign-in-alt"></i>
                Sign in
            </a>
        </li>
    }
</ul>
