@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Privacy Policy of Covid Tracker</p>

    <h5>Types of Data collected</h5>

    <p>
        This application does not collect directly any Personal Data, only advertising and analytics provided by Google collect informations.
    </p>

    <h5>Advertising and Analytics</h5>

    <p>
        For mobile : This application uses Admob as its advertising, and Firebase for analytics,  you can consult policy here : policies.google.com/privacy <br />
        For web : This application uses <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=201909010" target="_blank">Amazon</a> as its advertising, and <a href="policies.google.com/privacy" target="_blank">Google Analytics</a> for analytics.
    </p>

    <h5>Changes to this privacy policy</h5>

    <p>
        This privacy policy can be updated or modified without notifying the users. It is recommended to check this page often, referring to the date of the last modification listed at the bottom.
    </p>

    <h5>Contacting Us</h5>

    <p>
        If there are any questions regarding this privacy policy, you may contact us at <img src="/images/contact.png" />
    </p>

    <p>Last Edited on 2020-03-15.</p>
</div>
